// QC parameters
params {
    var_missing = 0.01     // Missingness per variant
    sample_missing = 0.01  // Missingness per sample
    maf = 0.05             // Minor allele frequency threshold
    hwe = 1e-15            // Hardy-Weinberg equilibrium P-value threshold. Set to 1 to deactivate
    min_vars = 100          // Minimum number of variants per chromosome
}


docker {
    enabled = true
    registry = "docker.io"
}

profiles {
    aws {includeConfig('conf/aws.config')}
    local {includeConfig('conf/local.config')}
    conda {
        enabled = true
        docker.enabled = false
    }
}

process {
    container = "juanfortizq/gwas"
    cpus = 16
    memory = "8GB"
}