params {
    local = false
    bed = "s3://temus-interview-data-jfo/gwas/input/100000_variants_10000_samples_5_chromosomes.bed"
    bim = "s3://temus-interview-data-jfo/gwas/input/100000_variants_10000_samples_5_chromosomes.bim"
    fam = "s3://temus-interview-data-jfo/gwas/input/100000_variants_10000_samples_5_chromosomes.fam"
    pheno = "s3://temus-interview-data-jfo/gwas/input/phenotype_10000_samples_100cols.txt"
    rsids = "s3://temus-interview-data-jfo/gwas/input/rsids_100000_variants_5_chromosomes.tsv"
    samples = "s3://temus-interview-data-jfo/gwas/input/samples.txt"
    aws = true
}
docker {
    registry = '010526263385.dkr.ecr.ap-southeast-1.amazonaws.com'
}

aws {
    region = 'ap-southeast-1'
    profile = "nf-agent"
    aws.batch.cliPath = "/home/ec2-user/miniconda/bin/aws"
}

process {
    executor = 'awsbatch'
    queue = 'nf-queue'
    container = "gwas"
    cpus = 8
    memory = '16 GB'
}